<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="7f9ec0e8-593b-4bf6-bbe8-5d75cae89d87"
            Publisher="CN=AJ"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>UK-Crime-App</DisplayName>
    <PublisherDisplayName>AJ</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="UK_Crime_App.App">
        <VisualElements
            DisplayName="UK-Crime-App"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="UK-Crime-App"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>